<br />
<br />
<br />
<br />
<br />
<br />

<div style=" background-color:white">


    @{
        ViewBag.Title = "About Us";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div style="text-align:center">
        <div style="text-shadow:initial"><h2>@ViewBag.Title.</h2></div>


        <h3>@ViewBag.Message</h3>

        <p>
            An online application where you can shop everything you need <br />without going anywhere.
            Shop@Home allows you the best oppurtunities to <br />buy everything you need in few clicks. It is the most
            responsive website.<br /> Shop@Home is the site where you can shop with ease and comfort.
        </p>
    </div>
</div>
